<section class="section featured-projects">
  <!--div class="section__title">Featured Projects</div-->
  <div class="section__content">

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://play.google.com/store/apps/details?id=com.alex.diafaneia" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/diafaneia/main.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/diafaneia/results.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/diafaneia/document.png" alt="">
          </div>
        </a>
      </figure>
    </div>

  </div>
</section>
